<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
   body {
    background: url(https://sun9-15.userapi.com/impg/qZEMQUPpX9cFy1Y5qjQBgcAza9devHxJnMm0qA/7N-d-v7dyfU.jpg?size=1280x720&quality=96&sign=8122d561958b459fc7f7c5253bdbfb95&type=album) no-repeat;
    background-size: 100%;
   }
  </style>
</head>
<body>
    <!img src="https://sun9-15.userapi.com/impg/qZEMQUPpX9cFy1Y5qjQBgcAza9devHxJnMm0qA/7N-d-v7dyfU.jpg?size=1280x720&quality=96&sign=8122d561958b459fc7f7c5253bdbfb95&type=album">
</body>
</html>