{% extends "registry/base.html" %}
{% block title %}
Реестр ПО
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <p>{{user.get_username}}</p>
        <hr>
        <a href="/add">
            <button>add</button>
        </a>
    {% endif %}

    {% if sw %}
        {% for soft in sw %}
            <p>{{ soft.plc }}</p>
            <p>{{ soft.creator }}</p>
            <p>{{ soft.crc_md5_user_software }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Будьте первым!</p>
    {% endif %}

{% endblock %}


